.tabela {
  width: 100%;
  user-select: none;
  text-align: left;
}

.tabela th {
  height: 20px;
  background-color: #5088a5;
  color: white;
  padding-left: 1px;
  font-size: smaller;
}

.tabela td {
  height: 50px;
  padding-left: 20px;
}

.tabela td:last-child {
  min-width: 160px;
  padding: 0;
  text-align: center;
}